{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ title }} {% endblock %}


{% block content %}
<h1 class="text-2xl">{{ title }}</h1>

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="py-4 px-8 bg-teal-500 text-white hover:bg-teal-900">{{ title }}</button>
</form>

{% if title == "Maxsulotni o'zgartirish" %}

<a href="" class="mt-3 inline-block py-4 px-8 bg-red-500 text-white">O'chirish</a>

{% endif %}
{% endblock %}