{% extends 'layout.html' %}

{% block title %} My store {% endblock %}


{% block content %}
<h1 class="text-2xl">My store</h1>

{% if messages %}
    {% for message in messages %}
    <div class="mt-4 px-8 py-4 bg-teal-200 text-teal-800">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

<h2 class="mt-6 text-xl">My orders</h2>

<div class="flex flex-wrap">
    <div class="w-1/4">
        <strong>Order ID</strong>
    </div>
    <div class="w-1/4">
        <strong>Title</strong>
    </div>
    <div class="w-1/4">
        <strong>Quantity</strong>
    </div>
    <div class="w-1/4">
        <strong>Price</strong>
    </div>
</div>

{% for order_item in order_items %}
<div class="flex flex-wrap">
    <div class="w-1/4">
        <a href="{% url 'accounts:order_detail' order_item.order.pk %}">{{ order_item.order.id }}</a>
    </div>
    <div class="w-1/4">
        {{ order_item.product.title }}
    </div>
    <div class="w-1/4">
        {{ order_item.quantity }}
    </div>
    <div class="w-1/4">
       $ {{ order_item.get_diplay_price }}
    </div>
</div>
{% endfor %}

<hr>
<a href="{% url 'accounts:add_product' %}" class="mt-6 inline-block py-4 bg-teal-500 text-white">Maxsulot qo'shish</a>

<h2 class="mt-6 text-xl">Mening maxsulotlarim</h2>

{% if products %}
    <div class="flex flex-wrap">
    {% for pro in products %}
    <div class="product w-1/3 p-2">
        <div class="py-5 bg-gray-200">
            <a href="{% url 'accounts:edit_product' pro.pk %}">
                {% if pro.image %}
                <div class="image">
                    <img src="{{ pro.image.url }}" alt="">
                </div>
                {% endif %}
                <h2 class="text-xl ml-3">{{ pro.title }}</h2>
            </a>
            <p class="text-xs text-gray-600 ml-3">$ {{ pro.get_diplay_price }}</p>
            <hr class="my-3">
            <p><strong>Status: </strong>{{ pro.get_status_display }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="mt-4 py-4 px-8 bg-gray-300">Sizda hali hech qanday mahsulot yoʻq</p>
{% endif %}

{% endblock %}